
/* ------- HEADER ------- */
.header-text {
    font-size: 60px;
    color: black;
    display: grid;
    justify-content: center;
    margin-top: 5%;
    font-family: 'header-text';
}


/* ------- FORM------- */
#form {
    display: grid;
  justify-content: center;
  }
  
  label {
    display: grid;
  justify-content: center;
  font-family: 'personal-text';
  font-size:45px;
  margin-top: 10%
  }

  input#email {
    margin-bottom: 15%;
  }

  .email-content {
    display:grid;
  justify-content: center;
  }

  .email-text {
    display: grid;
    justify-items: center;
    font-family: 'next-page-text';
    font-size: 45px;
  }

  #email2 {
    font-size: 55px;
    color: tomato;
  }

.image-content {
  display:grid;
  justify-content: flex-end;
}
  .image2{
    width: 200px;
    height: 200px;
  }

  .back-to-index {
    margin-top:2%;
    display: grid;
    justify-content: center;
  }

/* BUTTONS */
#btn-data {
  margin-top: 5%;
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  .btn-data:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  .btn-data:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .btn-data:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }

  #btn-save {
    margin-top: 5%;
     align-items: center;
     appearance: none;
     background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
     border: 0;
     border-radius: 6px;
     box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
     box-sizing: border-box;
     color: #fff;
     cursor: pointer;
     display: inline-flex;
     font-family: "JetBrains Mono",monospace;
     height: 48px;
     justify-content: center;
     line-height: 1;
     list-style: none;
     overflow: hidden;
     padding-left: 16px;
     padding-right: 16px;
     position: relative;
     text-align: left;
     text-decoration: none;
     transition: box-shadow .15s,transform .15s;
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
     white-space: nowrap;
     will-change: box-shadow,transform;
     font-size: 18px;
}

#btn-save:active {
 outline: 0;
}

#btn-save:hover {
 outline: 0;
}

#btn-save span {
 transition: all 200ms;
}

#btn-save:hover span {
 transform: scale(.9);
 opacity: .75;
}

@media screen and (max-width: 991px) {
 #btn-save {
   font-size: 15px;
   height: 50px;
 }

 #btn-save span {
   line-height: 50px;
 }
}


/*End OF BUTTONS */

a {
  color: white;
}


#error-text {
  justify-items: center;
display: grid;
color: red;
margin-top: -5%;
margin-bottom: 5%;
}

.gallery {
    display: grid;
justify-content: center;
}
.image {
  height: 400px;
  width: 400px;

  
}

#btn-grid {
    display: grid;
justify-content: center;
}

img {
 width: 300px;
  height: 300px;
  //object-fit: scale-down;
}







